@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilização básica para o calendário ficar bonito */
.react-datepicker-wrapper {
  width: 100%;
}
body {
  background-color: #f3f4f6;
  font-family: 'Inter', sans-serif;
}